.board {
	padding-top: 0.4em;
	padding-left: 0.2em;
	text-align: center;
}
.tileGrid { }
.tileRow {
}
.tileBox {
	max-width: 50px;
	display: inline-block;
	margin: 3px
}
.tile {
	max-width: 50px;
}
.tileSelected {
	border-width: 3px;
	margin: 1px;
}
.message {
	font-size: 1em;
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
}
