<!DOCTYPE html>
<html ng-app="ssGameApp" lang="en">
<head>
    <meta charset="utf-8">
	<title>Shapeshift puzzle game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Puzzle game">
	<meta name="author" content="Denis Pokataev">
	<!-- XXX: Full path must be used -->
	<script src="/shapeshift-angular/js/angular.min.js"></script>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px;  /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div class="board" ng-controller="ssBoardCtrl" ng-init="startGame()">
		<div class="message" ng-bind="text"></div>
		<div class="tileGrid">
			<div class="tileRow" ng-repeat="row in tiles">
				<div class="btn tileBox {{colors[tile.c]}}" ng-class="{tileSelected: selectedIndex == tile.y*5+tile.x}" ng-repeat="tile in row" ng-click="tileClick(tile)" ng-disabled="won">
					<i ng-class="icons[tile.s]" class="tile"></i>
				</div>
			</div>
		</div>
	</div>

	<script src="js/main.js"></script>
</body>
</html>
