<!DOCTYPE html>
<html ng-app="ssGameApp" lang="en">
<head>
    <meta charset="utf-8">
	<title>Shapeshift puzzle game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Puzzle game">
	<meta name="author" content="Denis Pokataev">
	<script src="js/angular.min.js"></script>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div class="board" ng-controller="ssBoardCtrl" ng-init="startGame()">
		<div class="tileGrid">
			<div class="tileRow" ng-repeat="row in tiles">
				<div class="btn tileBox {{colors[tile.c]}}" ng-class="{tileSelected: selectedIndex == tile.y*5+tile.x}" ng-repeat="tile in row" ng-click="tileClick(tile)" ng-disabled="won">
					<i ng-class="icons[tile.s]" class="tile"></i>
				</div>
			</div>
		</div>
		<div class="message"><p>The goal of the game is to place all tiles of same
			color in rows and tiles with same icon in rows also. You decide what rows
			- horizontal or vertical will hold same what - icons or colors.</p>
			<p>You can swap tiles if they are one tile away from each other -
				horizontally, vertically or diagonally - and have same color or same
				icon.</p>
		</div>
	</div>

	<script src="js/main.js"></script>
</body>
</html>
